In [8]:
#importing libraries
import numpy as np
import pandas as pd

In [9]:
cd /Users/ajaygupta/Desktop/AM/CS773 Datamining/AM DATAMINING/final project/OULAD (1)/

/Users/ajaygupta/Desktop/AM/CS773 Datamining/AM DATAMINING/final project/OULAD (1)

In [21]:
df = pd.read_csv('studentInfo.csv')

In [22]:
df.head(10)

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass
5,AAA,2013J,38053,M,Wales,A Level or Equivalent,80-90%,35-55,0,60,N,Pass
6,AAA,2013J,45462,M,Scotland,HE Qualification,30-40%,0-35,0,60,N,Pass
7,AAA,2013J,45642,F,North Western Region,A Level or Equivalent,90-100%,0-35,0,120,N,Pass
8,AAA,2013J,52130,F,East Anglian Region,A Level or Equivalent,70-80%,0-35,0,90,N,Pass
9,AAA,2013J,53025,M,North Region,Post Graduate Qualification,?,55<=,0,60,N,Pass

In [23]:
df['gender'].value_counts()

M    17875
F    14718
Name: gender, dtype: int64

In [32]:
df1 = df.groupby(['code_module','code_presentation','gender']).size().reset_index(name = 'id_student')
df1

   code_module code_presentation gender  id_student
0          AAA             2013J      F         149
1          AAA             2013J      M         234
2          AAA             2014J      F         165
3          AAA             2014J      M         200
4          BBB             2013B      F        1559
5          BBB             2013B      M         208
6          BBB             2013J      F        1980
7          BBB             2013J      M         257
8          BBB             2014B      F        1434
9          BBB             2014B      M         179
10         BBB             2014J      F        2018
11         BBB             2014J      M         274
12         CCC             2014B      F         456
13         CCC             2014B      M        1480
14         CCC             2014J      F         645
15         CCC             2014J      M        1853
16         DDD             2013B      F         518
17         DDD             2013B      M         785
18         DDD             2013J      F         800
19         DDD             2013J      M        1138
20         DDD             2014B      F         474
21         DDD             2014B      M         754
22         DDD             2014J      F         726
23         DDD             2014J      M        1077
24         EEE             2013J      F         103
25         EEE             2013J      M         949
26         EEE             2014B      F          76
27         EEE             2014B      M         618
28         EEE             2014J      F         158
29         EEE             2014J      M        1030
30         FFF             2013B      F         312
31         FFF             2013B      M        1302
32         FFF             2013J      F         394
33         FFF             2013J      M        1889
34         FFF             2014B      F         262
35         FFF             2014B      M        1238
36         FFF             2014J      F         446
37         FFF             2014J      M        1919
38         GGG             2013J      F         774
39         GGG             2013J      M         178
40         GGG             2014B      F         666
41         GGG             2014B      M         167
42         GGG             2014J      F         603
43         GGG             2014J      M         146

In [33]:
df1['id_student'].max()

2018